@model users

<form asp-controller="Account" asp-action="Login" method="post">
    <input type="text" name="Username" class="form-control"/>
    <input type="password" name="Password" class="form-control" />
    <button type="submit" class="fbtn btn-primary">Login</button>
</form>