html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#backordersummary{
    margin-top: 30px;
}

#itemsummarytitle, #itemstatustitle {
    border-bottom: 1px solid #A0B7BD;
    background-color: #0d6efd;
    color: white;
    padding-left: 10px;
}